<%= form_for(exam_record) do |f| %>
  <% if exam_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam_record.errors.count, "error") %> prohibited this exam_record from being saved:</h2>

      <ul>
      <% exam_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :exam_items %>
    <%= f.text_field :exam_items %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
